///////
/* Main Components */
///////

///////
/* MainNavContainer CSS */
///////

.main-nav-toolbar {
  padding: 0 24px;
}

.nav-buttons-large-viewport {
  display: flex;
}
.nav-button-small-viewport {
  display: none;
}
.titlebar-logo-large {
  display: block;
}
.titlebar-logo-small {
  display: none;
}

.main-nav-button {
  @extend .button-basic-gold;
}
.main-nav-menu-icon-button {
  @extend .button-basic-gold;
  margin: 10px;
}

.cart-button-active {
  background-color: $gold-rgba4;
}

.drawer-menu-container {
  h3 {
    color: $gold;
    padding-left: 20px;
  }
}

.drawer-menu-item {
  color: white;
}
.drawer-menu-item:hover {
  color: $gold;
}
.drawer-menu-item-active {
  span {
    border: 1px solid $gold;
  }
}

.logged-in-icon {
  fill: 'black',
}
.logged-in-icon-active {
  fill: $gold;
}

///////
/* Login and Signup CSS */
///////

.auth-form-button {
  @extend .button-basic-gold;
}

///////
/* Browse Page CSS */
///////

.titlebar-logo a {
  color: black;
  text-decoration: none;
  background-color: #c2a661;
  border: 1px solid white;
  padding: 5px;
}
.titlebar-logo a:hover {
  color: #c2a661;
  background-color: black;
}

.browse-route-link:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.button-route-browse, .button-route-favorites, .button-route-search {
  @extend .button-basic-gold;
}

@-webkit-keyframes add-button-active-route {
  0% {
    -webkit-box-shadow: inset 0 0 0 0 #c2a661;
    box-shadow: inset 0 0 0 0 #c2a661;
  }
  100% {
    -webkit-box-shadow: inset 0 -15px 0 0 #c2a661;
    box-shadow: inset 0 -15px 0 0 #c2a661;
  }
}
@keyframes add-button-active-route {
  0% {
    -webkit-box-shadow: inset 0 0 0 0 #c2a661;
    box-shadow: inset 0 0 0 0 #c2a661;
  }
  100% {
    -webkit-box-shadow: inset 0 -15px 0 0 #c2a661;
    box-shadow: inset 0 -15px 0 0 #c2a661;
  }
}

.button-route-browse, .button-route-favorites, .button-route-search {
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  -webkit-box-shadow: inset 0 0 0 0 #c2a661;
  box-shadow: inset 0 0 0 0 #c2a661;
}

.button-active-route {
  -webkit-box-shadow: inset 0 -15px 0 0 #c2a661;
  box-shadow: inset 0 -15px 0 0 #c2a661;
  -webkit-animation: .75s add-button-active-route;
  animation: .75s add-button-active-route;
}

.div-filter-input {
  display: flex;
}

.div-filter-input p {
  margin: auto;
}

.items-grid > div {
  width: 90%;
  height: auto;
  overflow-y: auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: -2px;
}

.tile-container {
  width: 30%;
  padding: 2px;
}

.tile-container a {
  width: 100%;
  height: 100%;
  display: block;
}

.tile-container img {
  width: 100%;
  position: relative;
}

.tile-container:hover img {
  top: -10px;
  filter: contrast(130%);
}

.div-img-background {
  background-color: white;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.button-load-more {
  @extend .button-basic;
}

///////
/* Item Page CSS */
///////

.card-container-outer {
  margin: 10px 5px;
}

.card-container, .card-container-image, .card-container-description, .card-container-col3 {
  margin: 10px;
}

.card-container-image, .card-container-col3 {
  flex: 1 2 0%;
}

.card-container-description {
  margin-top: 20px;
  flex: 1 2 0%;
}

.favorite-checkbox > div {
  justify-content: flex-end;
}

.card-title br {
  line-height: 50px;
}

.description-measurements, .card-container-description p {
  font-size: 16px;
  line-height: 22px;
}

.card-container-description p {
  max-width: 550px;
}

.title-price, .p-item-description {
  color: #776868;
}

.title-price-sold {
  color: red;
}

.item-action-button, .button-back-to-browse {
  @extend .button-basic;
}

@-webkit-keyframes move-back-to-browse-arrow {
  0% {
    fill: #c2a661;
    left: 0;
  }
  10%, 100% {
    fill: white;
    left: -15px;
  }
}
@keyframes move-back-to-browse-arrow {
  0% {
    fill: #c2a661;
    left: 0;
  }
  10%, 100% {
    fill: white;
    left: -15px;
  }
}

.button-back-to-browse:hover svg {
  position: relative;
  -webkit-animation: 3s infinite move-back-to-browse-arrow;
  animation: 3s infinite move-back-to-browse-arrow;
}

.button-back-to-browse {
  width: 150px;
}
.button-back-to-browse-large {
  display: inline-block;
}
.button-back-to-browse-small {
  display: none;
}

.item-action-button {
  @extend .basic-flat-button;
  color: $gold;
  width: 100%;
}
.item-action-button-container {
  flex: 1;
}
.item-action-button-container:hover {
  background-color: $gold;
}
.item-in-cart-button {
  @extend .basic-flat-button;
  background-color: $gold;
  cursor: default;
  width: 100%;
}
.item-in-cart-button-container {
  background-color: $gold;
  flex: 1;
}
.item-action-button-disabled {
  @extend .basic-flat-button;
  color: rgba(0, 0, 0, 0.4);
  border: 4px solid rgba(0, 0, 0, 0.2);
  cursor: default;
  width: 100%;
}
.item-action-button-disabled-container {
  background-color: rgba(0, 0, 0, 0.2);
  flex: 1;
}

///////
/* Cart Page CSS */
///////

.cart-actions-button {
  @extend .button-basic-gold;
}
.remove-item-button {
  fill: '#222',
}
.remove-item-button:hover, {
  fill: $gold;
}

.placeholder-message {
  @extend .basic-subheader;
}

.cart-table {
  th, td {
    padding: 0 24px;
  }
}

.cart-item-header-large {
  display: block;
}
.cart-item-header-small {
  display: none;
}

.item-image-column {
  width: 150px;
}
.item-name-column {
  display: table-cell;
}
.item-price-column {
  width: 150px;
}
.remove-item-column {
  width: 90px;
}

///////
/* Order Confirmation Page CSS */
///////

.back-button-container {
  display: flex;
  justify-content: center;
  background-color: white;
  border-top: 2px solid $gold;
  border-bottom: 2px solid $gold;
  padding: 5px;
}
