///////
/* Media Queries - largest to smallest max-width */
///////

@media (max-width: 1200px) {
  .col-3 {
    display: none;
  }
}

@media (max-width: 991px) {
  .tile-container {
    width: 48%;
  }
}

@media (max-width: 767px) {
  .main-nav-toolbar {
    padding: 0 12px;
  }

  .nav-buttons-large-viewport {
    display: none;
  }
  .nav-button-small-viewport {
    display: flex;
  }
  .titlebar-logo-large {
    display: none;
  }
  .titlebar-logo-small {
    display: block;
  }

  .main-nav-menu-icon-button {
    margin: 0;
  }

  .flex-grid {
    display: block;
  }

  .flex-grid-column {
    display: block;
    height: auto;
  }

  .items-grid > div {
    flex-flow: column wrap;
  }

  .tile-container {
    width: 100%;
  }

  .tile-container img {
    transform: translateY(0%) !important;
  }

  .card-container-image {
    max-width: 400px;
    margin: 10px auto;
  }

  .card-container, .card-container-description {
    margin-left: auto;
    margin-right: auto;
  }

  .button-back-to-browse {
    width: 60px;
  }
  .button-back-to-browse-large {
    display: none;
  }
  .button-back-to-browse-small {
    display: inline-block;
  }

  .cart-item-header-large {
    display: none;
  }
  .cart-item-header-small {
    display: block;
  }

  .item-image-column {
    width: 100px;
  }
  .item-name-column {
    display: none;
  }
  .item-price-column {
    width: 100%;
  }
  .remove-item-column {
    width: 60px;
    position: absolute;
    right: 0;
  }
}

@media (max-width: 575px) {
  .titlebar-browse h1 {
    margin: auto 0;
  }
  .titlebar-browse h2 {
    position: relative;
  }
}

@media (max-width: 399px) {
  .titlebar-browse h1 {
    font-size: 1.5em;
  }
  .titlebar-browse h2 {
    font-size: 1em;
  }

  .cart-table {
    th, td {
      padding: 0 12px;
    }
  }
}
